# Build
build/
out/
cmake-build-*/
.vs/
.vscode/

# vcpkg
vcpkg_installed/

# IDE
*.user
*.suo
*.sdf
*.opensdf
*.db
*.opendb
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
.vite/

# Compiled
*.obj
*.pdb
*.dll
*.exe
*.lib
*.exp
*.ilk
